<div class="container">
    <div class="about-intro">
        <h3>Everything you need to know about us on a single page.</h3>
    </div>
    <div class="about-content">
        <div class="people-container col-md-8 col-xs-12">
            <div class="row">
                <div class="team-container">
                    <p class="team-title">OUR TEAM</p>
                    <div class="people" ng-repeat="dev in developers">
                            <div class="avatar-container col-md-4 col-sm-4 col-xs-4">
                                <img ng-src="{{dev.avatar}}">
                            </div>
                            <div class="personal-info col-md-8 col-sm-8 col-xs-4">
                                <header>
                                    <h4>{{dev.name}}</h4>
                                    <h5>{{dev.roles}}</h5>
                                </header>
                                <section>
                                    <p>{{dev.dspt}}</p>
                                </section>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="story-container col-md-4 col-xs-12">
            <div class="row">
                <p class="story-title">OUR STORY</p>
                <p style="color: #8e959c; line-height: 1.55em; padding:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>
