<div class="container">
    <div class="row">
        <div class="search-bar-container" ng-controller="searchBarController">
            <div class="col-md-2"></div>
            <div class="search-bar col-md-8">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <angucomplete id="ex1"
                     placeholder="Search foods, restaurants, etc"
                     pause="400"
                     url="http://localhost:5000/api/foodtexts/search?term="
                     selectedobject="keywords"
                     datafield="results"
                     titlefield="suggestion"
                     minlength="1"
                     inputclass="my-form-control my-input-bar"/>
                </div>
                <div class="pull-right search-button">
                    <i class="fa fa-search fa-lg search-icon"> </i>
                </div>
                <div class="pull-right search-button">
                    <upload-button
                        action="api/foodimages/search"
                        complete="uploaded($data, $status)">
                        <i class="fa fa-picture-o fa-lg search-icon"> </i>
                    </upload-button>
                </div>
            </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
