<div sticky-nav class="search-bar-container">
    <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <div class="sorting-menu pull-right">
                <div class="dropdown" ng-click="submitText()">
                    <i class="fa fa-bars menu-button dropdown-toggle">
                    </i>
                    <ul class="dropdown-menu" role="menu">
                        <li><a role="menuitem" ng-click="clickSort(0)"><i class="fa fa-sort-alpha-asc"></i> &nbsp;&nbsp;&nbsp;Alphabetical Order</a></li>
                        <li><a role="menuitem" ng-click="clickSort(1)"><i class="fa fa-sort-alpha-desc"></i> &nbsp;&nbsp;&nbsp;Alphabetical Order</a></li>
                        <li><a role="menuitem" ng-click="clickSort(2)"><i class="fa fa-sort-amount-desc"></i> &nbsp;&nbsp;&nbsp;Sort by Rating</a></li>
                        <li><a role="menuitem" ng-click="clickSort(3)"><i class="fa fa-sort-amount-asc"></i> &nbsp;&nbsp;&nbsp;Sort by Location</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="search-bar col-md-9 col-sm-9 col-xs-9">
            <div class="col-md-7 col-sm-7 col-xs-7">
                <angucomplete id="ex1"
                 placeholder="Search foods, restaurants, etc"
                 pause="400"
                 url="api/foodtexts/search?term="
                 selectedobject="keywords"
                 datafield="results"
                 titlefield="suggestion"
                 minlength="1"
                 inputclass="my-form-control my-input-bar"
                 ng-enter="submitText()"
                 ng-model="currentValue"/>
            </div>
            <div class="pull-right search-button">
                <upload-button
                    action="api/foodimages/search"
                    complete="receiveFromPost($data, $status)">
                    <i class="fa fa-picture-o fa-lg search-icon"></i>
                </upload-button>
            </div>
        </div>
    </div>
</div>

<div holder></div>

<div class="container image-list-container" ng-init="getCurrentLocation()">
    <div class="row">
        <div class="row image-container" ng-init="getData()">
            <div class="col-md-4 col-sm-6 col-xs-12 image-card" ng-repeat="item in imageData track by $index">
                <div class="content">
                    <div class="image-title">
                        <p tooltip-placement="top"
                           tooltip="{{item.description}}"
                           tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[item.description.length > 30]}}">"{{item.description | cut:true:30:' ...'}}"</p>
                    </div>
                    <div class="image-wrapper">
                        <img ng-src="{{item.relpath}}" class="image-info">
                    </div>
                    <div class="image-provider">
                        <span class="rating" ng-style="ratingColor(item.business_info.rating)">{{item.business_info.rating}}</span>
                        <p>
                            <span class="business">{{item.business_info.name}}</span>
                            <br>
                            {{item.business_info.location.display_name[0]}}
                            <br>
                            {{item.business_info.location.display_name[1]}}
                            <br>
                            {{item.business_info.location.display_name[2]}}
                            <span class="pull-right distance" ng-show="lat != 0" ng-click="open()"><i class="fa fa-map-marker"></i> {{getDistance($index, lat, lng, item.business_info.location.details.coordinates[1], item.business_info.location.details.coordinates[0])}}km</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="load-more" ng-show="imageData.length != 0" ng-click="nextPage()">
            <p id="more">MORE</p>
        </div>
    </div>
    </div>
</div>

