<div class="container" ng-controller="searchBarController">
    <div class="row">
        <div class="search-bar-container">
            <div class="col-md-2">
            </div>
            <div class="search-bar col-md-8">
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <angucomplete id="ex1"
                     placeholder="Search foods, restaurants, etc"
                     pause="400"
                     url="http://localhost:5000/api/foodtexts/search?term="
                     selectedobject="keywords"
                     datafield="results"
                     titlefield="suggestion"
                     minlength="1"
                     inputclass="my-form-control my-input-bar"
                     ng-enter="submitText()"
                     ng-model="currentValue"/>
                </div>
                <div class="pull-right search-button">
                    <upload-button
                        action="api/foodimages/search"
                        complete="receiveFromPost($data, $status)">
                        <i class="fa fa-picture-o fa-lg search-icon"></i>
                    </upload-button>
                </div>
                <div class="pull-right search-button" ng-click="getData()">
                    <i class="fa fa-search fa-lg search-icon"> </i>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="row">
        <div class="row image-container" ng-init="getData()">
            <div class="col-md-4 col-sm-6 col-xs-12 image-card" ng-repeat="item in imageData">
                <div class="content">
                    <div class="image-wrapper">
                        <img ng-src="{{item.relpath}}" class="image-info">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="load-more" ng-show="imageData.length != 0" ng-click="nextPage()">
            <p id="more">MORE</p>
        </div>
    </div>
    </div>
</div>
