.search-bar-container {
    padding-top: 22px;
    padding-bottom: 8px;
    height: 100px;
    width: 100%;
    background-color: @app-bg;
    .sorting-menu {
        height: 50px;
        width: 50px;
        font-size: 30px;
        color: @myfont-color;
        background-color: @component-bg;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
        .menu-button {
            margin-left: 13px;
            line-height: 51px;
        }
    }
    .search-bar {
        background-color: @component-bg;
        height: 50px;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
        .my-input-bar {
            height: 50px;
            background-color: @component-bg;
        }
    }
}

.my-form-control {
    outline: 0;
    border: none;
    width: 100%;
    background-color: @component-bg;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 200;
}

.search-button {
    height: 50px;
    width: 50px;
    color: #777777;
    .search-icon {
        padding-top: 22px;
    }
}

.search-button:hover {
    color: #333333;
}


.image-list-container {

}


.load-more {
    background-color: #dfdfdf;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    bottom: 0;
    cursor: pointer;
    #more {
        background: #dfdfdf;
        display: block;
        padding: 1em 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.4em;
        color: rgba(0,0,0,0.3);
    }
}
