body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #ebeeed;
  -webkit-font-smoothing: subpixel-antialiased;
}
body [ng\:cloak],
body [ng-cloak],
body [data-ng-cloak],
body [x-ng-cloak],
body .ng-cloak,
body .x-ng-cloak {
  display: none !important;
}
.fadeEffect {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/****Custom bootstrap component styles****/
.my-navbar {
  background-color: #ffffff;
  padding: 15px 0 8px 0px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.my-navbar .brand {
  font-size: 30px;
}
.my-navbar .links {
  font-size: 18px;
}
.my-navbar .link-top-border {
  border-top: 3px solid #ffffff;
}
.my-navbar .link-top-border:hover,
.my-navbar :focus {
  border-top: 3px solid #777777;
}
.navbar .nav > li > a {
  margin-top: 11px;
  margin-left: 10px;
  padding-top: 5px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: .8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #7f8c8d;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #7f8c8d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.dropdown-menu {
  background: #f8f8f8 !important;
  box-shadow: none !important;
  border: 0 !important;
  border-radius: 0 !important;
  margin-top: 15px !important;
  width: 178px !important;
  color: #777777;
}
.dropdown-menu > li > a {
  cursor: pointer;
  line-height: 47px;
  color: #777777;
  height: 50px;
  font-weight: 100;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  height: 50px;
  background-color: #bdc3c7;
  background-image: none;
  filter: none;
  color: #777777;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
.modal-content {
  border-radius: 0px;
  background-color: #ffffff;
}
.btn {
  border-radius: 0px;
}
.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-move-stagger {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-duration: 0;
  animation-duration: 0;
}
.repeat-animation.ng-move,
.repeat-animation.ng-enter {
  opacity: 0;
  -webkit-animation: enter_animation 0.2s;
  animation: enter_animation 0.2s;
}
@-webkit-keyframes enter_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes enter_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes leave_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leave_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.card-shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.fixed-search-bar {
  position: fixed;
  top: 0;
  z-index: 1040;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.fixed-table-of-contents {
  position: fixed;
  top: 0;
  z-index: 1040;
}
.holder-bar {
  width: 100%;
  height: 80px;
}
.search-bar-container {
  padding-top: 12px;
  padding-bottom: 8px;
  height: 80px;
  width: 100%;
  background-color: #ebeeed;
}
.search-bar-container .sorting-menu {
  height: 50px;
  width: 50px;
  font-size: 30px;
  color: #777777;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.search-bar-container .sorting-menu .menu-button {
  margin-left: 13px;
  line-height: 51px;
  cursor: pointer;
}
.search-bar-container .search-bar {
  background-color: #ffffff;
  height: 50px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.search-bar-container .search-bar .my-input-bar {
  height: 50px;
  background-color: #ffffff;
}
.my-form-control {
  outline: 0;
  border: none;
  width: 100%;
  background-color: #ffffff;
  padding: 6px;
  border-radius: 2px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 200;
}
@media (max-width: 768px) {
  .my-form-control {
    font-size: 15px;
  }
}
.search-button {
  height: 50px;
  width: 50px;
  color: #777777;
}
.search-button .search-icon {
  padding-top: 22px;
}
.search-button:hover {
  color: #333333;
}
.image-list-container {
  padding-top: 16px;
}
.load-more {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  bottom: 0;
  cursor: pointer;
}
.load-more #more {
  background: #dfdfdf;
  display: block;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.3);
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
.load-more #more:hover {
  background: #bdc3c7;
}
.about-intro {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #a1a1a1;
  margin-top: 20px;
}
.about-intro h3 {
  color: #777777;
}
.about-content {
  width: 100%;
}
.about-content .people-container {
  margin-top: 40px;
}
.about-content .people-container .team-container {
  width: 94%;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .about-content .people-container .team-container {
    width: 100%;
  }
}
.about-content .people-container .team-container .team-title {
  padding: 7px;
  color: white;
  background-color: #3498db;
  font-weight: 500;
  font-size: 25px;
}
.about-content .people-container .team-container .people {
  height: 210px;
  background-color: #ffffff;
  margin: 5px;
  border-bottom: 1px solid #8e959c;
}
.about-content .people-container .team-container .people .avatar-container {
  padding: 20px;
  width: 150px;
  height: 150px;
}
.about-content .people-container .team-container .people .avatar-container img {
  width: 100%;
  border-radius: 150px;
}
.about-content .people-container .team-container .people .personal-info {
  padding: 10px;
}
.about-content .people-container .team-container .people .personal-info h5 {
  color: #adb3b9;
}
.about-content .people-container .team-container .people .personal-info p {
  font-size: 14px;
  color: #8e959c;
  line-height: 1.55em;
}
.about-content .people-container .team-container .people p {
  line-height: 10px;
}
.about-content .story-container {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  margin-top: 40px;
  background-color: #ffffff;
  height: 500px;
}
.about-content .story-container .story-title {
  padding: 7px;
  color: white;
  background-color: #e74c3c;
  font-weight: 500;
  font-size: 25px;
}
.modal-header {
  color: #777777;
}
.angular-google-map-container {
  height: 400px;
}
.image-container .image-card {
  height: 370px;
  margin-bottom: 31px;
}
.image-container .image-card .content {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.image-container .image-card .content .image-title {
  width: 100%;
  height: 42px;
}
.image-container .image-card .content .image-title p {
  padding-top: 10px;
  color: #333;
  font-style: italic;
  font-size: 18px;
  margin: auto 0;
  text-align: center;
}
.image-container .image-card .content .image-title p a {
  text-decoration: none;
  color: #333;
}
.image-container .image-card .content .image-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.image-container .image-card .content .image-wrapper .image-info {
  position: relative;
  max-height: 100%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 300px) {
  .image-container .image-card .content .image-wrapper .image-info {
    top: 50%;
    left: 0;
    max-height: none;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.image-container .image-card .content .image-provider {
  width: 100%;
  height: 55px;
  color: #999999;
}
.image-container .image-card .content .image-provider .rating {
  text-align: center;
  color: #fff;
  float: left;
  font-size: 13px;
  line-height: 34px;
  margin-right: 15px;
  margin-top: 23px;
  margin-left: 15px;
  min-width: 40px;
  padding: 0;
  text-shadow: none;
  width: auto;
}
.image-container .image-card .content .image-provider p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
}
.image-container .image-card .content .image-provider p .business {
  line-height: 28px;
  font-weight: bold;
  font-size: 14px;
}
.image-container .image-card .content .image-provider p .distance {
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}
