body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f0f0f0;
  -webkit-font-smoothing: subpixel-antialiased;
}
body [ng\:cloak],
body [ng-cloak],
body [data-ng-cloak],
body [x-ng-cloak],
body .ng-cloak,
body .x-ng-cloak {
  display: none !important;
}
.my-navbar {
  border-top: 10px solid #27ae60;
  padding: 15px 0 8px 0px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.my-navbar .brand {
  font-size: 30px;
}
.my-navbar .links {
  font-size: 20px;
}
.my-navbar .link-top-border {
  border-top: 3px solid #f8f8f8;
}
.my-navbar .link-top-border:hover,
.my-navbar :focus {
  border-top: 3px solid #777777;
}
.main-content {
  padding-top: 100px;
}
.navbar .nav > li > a {
  margin-top: 11px;
  margin-left: 10px;
  padding-top: 5px;
}
.search-bar-container {
  padding-top: 24px;
  padding-bottom: 8px;
  height: 100px;
}
.search-bar-container .search-bar {
  background-color: #f8f8f8;
  height: 50px;
}
.search-bar-container .search-bar .my-input-bar {
  height: 50px;
  background-color: #f8f8f8;
}
.my-form-control {
  outline: 0;
  border: none;
  width: 100%;
  background-color: #f8f8f8;
  padding: 6px;
  border-radius: 2px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 200;
}
.search-button {
  height: 50px;
  width: 50px;
}
.search-button .search-icon {
  padding-top: 22px;
  color: #777777;
}
